<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OPSI - Interface</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <!-- jsTree CSS -->
    <link href="static/css/style.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="tree"></div>
    <div class="container">
        <div class="modal fade" id="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                        <span class="label label-success" id="modal-tag"></span>
                        <span style="float:right;" id="modal-timestamp"></span>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
  

    <!-- jQuery Version 3.2.1 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- jsTree JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>
