<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>OPSI - Statistics</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="static/css/style.css" rel="stylesheet">

</head>

<body>
	<div class="container">
		<h1>OPSI data pull statistics</h1>
		<div class="row">
			<div class="col-lg-6">
				<div id="typePercentageChart" style="height: 300px; width: 100%;"></div>
			</div>
			<div style="text-align: center;" class="col-lg-6">
				<div id="errorPercentageChart" style="height: 300px; width: 100%;"></div>
				<span id="datasetNum"></span><span id="errorCount"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div id="unknownExtensionChart" style="height: 300px; width: 100%;"></div>
			</div>
			<div style="text-align: center;" class="col-lg-6">
				<p id="heading">Automatically transformed data from OPSI</p>
				<div id="container"></div>
				<span id="allData"></span><span id="transformedData"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<select id="fieldsList">
					<option disabled selected>Choose field</option>
				</select>
				<div id="fieldsChart" style="height: 300px; width: 100%;"></div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.canvasjs.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics.js') }}"></script>

</html>